slack_bolt
langchain
langchain_community
langchain_experimental
langchain-openai
langgraph
faiss-cpu
pandas
requests[socks]
Pillow
flask
stem
git+https://github.com/dss99911/pytube@dd0183e60485bb79cf558dc3090e13390c3c1f74
psycopg2-binary
sqlalchemy
feedparser